<div class="header">
  <div class="container">
    <h1>TechBull BBQ</h1>
    <p>参加者詳細</p>
  </div>
</div>

<div class="container">
  <%= link_to "← 参加者一覧に戻る", root_path, class: "back-button" %>
  
  <div class="user-detail">
    <div class="avatar">
      <% if @user.avatar_url.present? %>
        <%= image_tag @user.avatar_url, alt: @user.name %>
      <% else %>
        <%= @user.name.first %>
      <% end %>
    </div>
    
    <h2 class="participant-name"><%= @user.name %></h2>
    <span class="participant-job"><%= @user.job || "未設定" %></span>
  
    <div class="social-links">
      <% if @user.twitter_url.present? %>
        <%= link_to @user.twitter_url, target: "_blank", class: "social-link" do %>x<% end %>
      <% end %>
    </div>

    <% if @user.bio.present? %>
      <div class="user-message">
        <h3>自己紹介</h3>
        <p><%= simple_format(@user.bio) %></p>
      </div>
    <% end %>
  </div>
</div>